
/*===============Header Style======================= */

header h1 {
  text-align: center;
  border: solid 5px;
  border-radius: 16px;
  background-color: #BBDEF0;
  font-family: 'Caveat', cursive;
}


/*===============Body Style======================= */

body {
  background-color: #00A6A6;
}




/*===============Quote Space Style======================= */

#quotearea {
  flex-flow: row;
}

.display-div {
  flex-flow: row;
  flex-wrap: wrap;
  background-color: #EFCA08;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 18px;
  border: solid 5px #F08700;
  border-radius: 16px;
  font-family: 'Caveat', cursive;
  font-size: 25px;
}

.dispaly-content .display-author {
  flex-wrap: wrap;
  flex-grow: 2;
  background-color: #EFCA08;
  font-family: 'Caveat', cursive;  
}



/*===============Button Space Style======================= */

#genspace {
  text-align: center;
  position: relative;
}

#genspace img {
  height: 150px;
  width: auto;
}

#genbtn {
  margin: 18px;
  position: relative;
  font-family: 'Caveat', cursive;
}

#genspace button {
  position: absolute;
  top: 2%;
  left: 39%;

}

/*===============Media Query======================= */

