
/*===============Header Style======================= */

header {
  text-align: center;
}

header h1 {
  text-align: center;
  font-family: 'Caveat', cursive;
  height: 100px;
  color: white;
  font-size: 50px;
}


/*===============Body Style======================= */

body {
  background-image: url("https://wallpaperaccess.com/full/1268183.jpg");
}

/*===============Quote Space Style======================= */

#quotearea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.display-div {
  background-color: #EFCA08;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 18px;
  border: solid 5px #F08700;
  border-radius: 16px;
  font-family: 'Caveat', cursive;
  font-size: 25px;
  max-width: 500px;
  max-height: fit-content;
}

.dispaly-content .display-author {
  /* flex-grow: 2; */
  background-color: #EFCA08;
  font-family: 'Caveat', cursive; 
}



/*===============Button Space Style======================= */

#genspace {
  border: solid black 10px;
  text-align: center;
  position: relative;
  margin-top: 1%;
  /* background-color: #00A6A6; */
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  width: 100%;
  height: auto; 
}

#genspace img {
  height: auto;
  width: 70%;
}

#genbtn {
  margin: 18px;
  position: relative;
  font-family: 'Caveat', cursive;
  background-color: #F08700;
  box-shadow: 0px 10px 10px 0 #EFCA08;
  width: 30%;
  height: 10%;
  border-radius: 16px;
  border: solid 2px;
}

#genspace button {
  position: absolute;
  top:20%;
  left: 30%;
}

/*===============Media Query======================= */

/* ========= Built Mobile First =================== */

/* =========== Ipad Breakpoint ==================== */

@media screen and (min-width: 768px) {
  #genspace button {
    position: absolute;
    top:21%;
    left: 33%;
  }
}

/* =========== Ipad Breakpoint ==================== */

@media screen and (min-width: 768px) {
  #genspace button {
    position: absolute;
    top: 22%;
    left: 33.7%;
  }
}



/* === Computer Screen Breakpoints Full Span Responsive === */

@media screen and (min-width: 200px) {
  #genspace button {
    position: absolute;
    top: 17%;
    left: 27%;
  }
}

@media screen and (min-width: 351px) {
  #genspace button {
    position: absolute;
    top: 20%;
    left: 30.5%;
  }
}

@media screen and (min-width: 366px) {
  #genspace button {
    position: absolute;
    top: 20%;
    left: 30.5%;
  }
}

@media screen and (min-width: 522px) {
  #genspace button {
    position: absolute;
    top: 22%;
    left: 31.9%;
  }
}

@media screen and (min-width: 532px) {
  #genspace button {
    position: absolute;
    top: 22%;
    left: 31.9%;
  }
}

@media screen and (min-width: 540px) {
  #genspace button {
    position: absolute;
    top: 22%;
    left: 31.5%;
  }
}


@media screen and (min-width: 635px) {
  #genspace button {
    position: absolute;
    top: 22%;
    left: 32.5%;
  }
}

@media screen and (min-width: 893px) {
  #genspace button {
    position: absolute;
    top: 24%;
    left: 33.5%;
  }
}

@media screen and (min-width: 925px) {
  #genspace button {
    position: absolute;
    top: 24%;
    left: 33.8%;
  }
}


@media screen and (min-width: 1100px) {
  #genspace button {
    position: absolute;
    top: 24%;
    left: 33.8%;
  }
}

@media screen and (min-width: 1200px) {
  #genspace button {
    position: absolute;
    top: 24%;
    left: 33.8%;
  }
}

@media screen and (min-width: 1380px) {
  #genspace button {
    position: absolute;
    top: 24.5%;
    left: 34.3%;
  }
}

@media screen and (min-width: 1400px) {
  #genspace button {
    position: absolute;
    top: 24%;
    left: 34.25%;
  }
}