
/*===============Header Style======================= */

header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 1px;
}

header h1 {
  animation: floating 5s ease-in-out infinite;
  text-align: center;
  font-family: 'Caveat', cursive;
  height: 100px;
  color: white;
  font-size: 50px;
  transform: translateY(0px);
  position: relative;
}

header h1:after {
  transform: translateY(0px);
  animation: floating 5s ease-in-out infinite;
  line-height: 30px;
  position: absolute;
  bottom: -30px;
  z-index: -2;
}

header h4 {
  color: white;
  font-family: 'Caveat', cursive;
  font-size: 20px;
  max-width: 500px;
  padding-left: 3%;
}

@keyframes floating {
  0% {
    line-height: 30px;
    transform: translateY(0px);
  }
  55% {
    transform: translateY(-13.211px);
  }
  60% {
    line-height: 13.3821px;
  }
  100% {
    line-height: 30px;
    transform: translateY(0px);
  }
}


/*===============Body Style======================= */

body {
  background-image: url("https://wallpaperaccess.com/full/1268183.jpg");
}

/*===============Quote Space Style======================= */

/* ========= Flexbox Setup ======================== */

#quotearea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.display-div {
  background-color: #EFCA08;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 18px;
  border: solid 5px #F08700;
  border-radius: 16px;
  font-family: 'Caveat', cursive;
  font-size: 25px;
  max-width: 500px;
  max-height: fit-content;
}

.dispaly-content .display-author {
  background-color: #EFCA08;
  font-family: 'Caveat', cursive; 
}

.word-div {
  background-color: #8fc7f5;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 18px;
  border: solid 5px #0018f0;
  border-radius: 16px;
  font-family: 'Caveat', cursive;
  font-size: 25px;
  max-width: 500px;
  max-height: fit-content;
}

/*===============Think Button Space Style======================= */

#genspace {
  border: solid black 10px;
  text-align: center;
  position: relative;
  margin-top: 1%;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  width: 100%;
  height: auto; 
}

#genspace img {
  height: auto;
  width: 70%;
}

#genbtn {
  margin: 18px;
  position: relative;
  font-family: 'Caveat', cursive;
  background-color: #F08700;
  box-shadow: 0px 10px 10px 0 #EFCA08;
  width: 30%;
  height: 10%;
  border-radius: 16px;
  border: solid 2px;
}

/* =========== Word Button Styling =================== */

#wordbtn {
  font-family: 'Caveat', cursive;
  background-color: #8fc7f5;
  box-shadow: 0px 10px 10px 0 #0018f0;
  width: 30%;
  height: 10%;
  border-radius: 16px;
  border: solid 2px;
}

/* ========= Meditate Feature Styling ============== */

#meditatebtn {
  text-align: center;
  margin-left: 24px;
}

#meditatebtnstyle {
  font-family: 'Caveat', cursive;
  background-color: #F08700;
  box-shadow: 0px 10px 10px 0 #EFCA08;
  width: 30%;
  height: 40%;
  border-radius: 16px;
  border: solid 2px;
  font-size: 20px;
}

#meditatebtn p {
  color: white;
  font-family: 'Caveat', cursive;
  font-size: 30px;
}

/* ================= Footer Styling ================ */

#footerdiv {
  background-color: black;
  opacity: 0.5;
  color: white;
  font-family: 'Caveat', cursive;
  text-align: center;
  font-size: 20px;
}

#footerdiv img {
  height: 100px;
  width: auto;
  padding-left: 40px;
}

/*===============Media Query======================= */

/* ========= Built Mobile First =================== */

/* ========= Iphone X Design with Flex ================= */

@media screen and (max-width: 375px) {

  #quotearea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  #genspace button {
    font-size: 18px;
  }
  header h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
  }
  header h4 {
    font-size: 20px;
    padding-left: 1%;
    margin-top: 0px;
    border-top: 0px;
    padding-top: 0px;
  }
}


/* =========== Ipad Breakpoint ==================== */

@media screen and (min-width: 768px) {
  #genspace button {
    font-size: 30px;
  }
  header h1 {
    font-size: 70px;
  }
  header h4 {
    font-size: 30px;
    padding-left: 17.5%;
  }
  #genspace img {
    height: auto;
    width: 50%;
  }
}

/* =========== Ipad Pro Breakpoint ==================== */

@media screen and (min-width: 1024px) {
  #genspace button {
    font-size: 38px;
  }
  header h1 {
    font-size: 80px;
  }
  header h4 {
    padding-left: 26%;
  }
}



/* === Computer Screen Breakpoints Full Span Responsive === */

@media screen and (min-width: 200px) { 
  #genspace button {
    font-size: 18px;
  }
}

@media screen and (min-width: 513px) {
  #genspace button {
    font-size: 25px;
  }
}


@media screen and (min-width: 540px) {
  #genspace button {
    font-size: 30px;
  }
}


@media screen and (min-width: 635px) {
  #genspace button {
    font-size: 30px;
  }
}

@media screen and (min-width: 680px) {
  #genspace button {
    font-size: 30px;
  }
  header h4 {
    padding-left: 1%;
    max-width: 900px;
  }
}

@media screen and (min-width: 925px) {
  /* #genspace button {
    position: absolute;
    top: 24%;
    left: 33.8%;
  } */
}

@media screen and (min-width: 950px) {
  header h4 {
    padding-left: 2%;
    max-width: 900px;
  }
}

@media screen and (min-width: 1000px) {
  header h4 {
    padding-left: 10%;
    max-width: 900px;
  }
}

@media screen and (min-width: 1050px) {
  #genspace button {
    font-size: 38px;
  }
  header h4 {
    padding-left: 10%;
    max-width: 900px;
  }
}

@media screen and (min-width: 1080px) {
  #genspace button {
    font-size: 38px;
  }
  header h4 {
    padding-left: 10%;
    max-width: 900px;
  }
}


@media screen and (min-width: 1100px) {
  #genspace button {
    font-size: 38px;
  }
}

@media screen and (min-width: 1150px) {
  #genspace button {
    font-size: 38px;
  }
  header h4 {
    padding-left: 12%;
    max-width: 900px;
  }
}


@media screen and (min-width: 1200px) {
  #genspace button {
    font-size: 38px;
  }
}

@media screen and (min-width: 1400px) {
  header h1 {
    font-size: 100px;
  }
}

@media screen and (min-width: 1626px) {
  header h4 {
    padding-left: 30%;
    font-size: 50px;
    max-width: 900px;
  }
}

@media screen and (min-width: 1660px) {
  header h4 {
    padding-left: 25%;
    font-size: 50px;
    max-width: 900px;
  }
}

@media screen and (min-width: 1250px) {
  header h4 {
    padding-left: 15%;
    font-size: 50px;
    max-width: 900px;
  }
}

@media screen and (min-width: 1280px) {
  header h4 {
    padding-left: 15%;
    font-size: 50px;
    max-width: 900px;
  }
}

@media screen and (min-width: 1400px) {
  header h4 {
    padding-left: 19%;
    font-size: 50px;
    max-width: 900px;
  }
}

@media screen and (min-width: 1600px) {
  header h4 {
    padding-left: 25%;
    font-size: 50px;
    max-width: 900px;
  }
}

@media screen and (min-width: 1700px) {
  header h4 {
    padding-left: 25%;
    font-size: 50px;
    max-width: 900px;
  }
}

@media screen and (min-width: 1800px) {
  header h4 {
    padding-left: 25%;
    font-size: 50px;
    max-width: 900px;
  }
}

@media screen and (min-width: 2000px) {
  header h4 {
    padding-left: 30%;
    font-size: 50px;
    max-width: 900px;
  }
}
@media screen and (min-width: 2290px) {
  #genspace button {
    text-align: center;
  }
  header h4 {
    padding-left: 30%;
    font-size: 50px;
    max-width: 900px;
  }
}

@media screen and (min-width: 2300px) {
  header h4 {
    padding-left: 30%;
    font-size: 50px;
    max-width: 900px;
  }
}